<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MIConvexHull" version="1.1.19.1019" targetFramework="net471" />
  <package id="MathNet.Numerics" version="4.15.0" targetFramework="net471" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net471" />
  <package id="Numpy" version="3.7.1.25" targetFramework="net471" />
  <package id="OpenToolkit.Mathematics" version="4.0.0-pre9.3" targetFramework="net471" />
  <package id="Python.Deployment" version="1.2.0" targetFramework="net471" />
  <package id="Python.Included" version="3.7.3.13" targetFramework="net471" />
  <package id="pythonnet_netstandard_py37_win" version="2.5.1" targetFramework="net471" />
</packages>